<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <mat-toolbar color="primary">

    <mat-toolbar-row class="toolbar-row" [class.mat-elevation-z6]="true">
      <h4 mat-stroked-button class="header">Path Finding Algorithms</h4>
      <div class="links">
        <a mat-stroked-button [routerLink]="['#']" routerLinkActive="router-link-active">Home</a>
      </div>
      <div class="links">
        <a mat-stroked-button [routerLink]="['#']" routerLinkActive="router-link-active">Non Weighted Algorithms</a>
      </div>
      <div class="wrapper">
        <mat-select [class.mat-elevation-z2]="true" [(value)]="selectedAlgorithm" class="algoSelect">
          <mat-option value="Dijkstras">Dijkstras Algorithm</mat-option>
          <mat-option value="Astar">A star Algorithm</mat-option>
        </mat-select>

        <button mat-raised-button name="start" (click)="startAlgorithm()" class="startBtn">
          Start Algorithm
        </button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>

  <div class="algo-header">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" class="menuBtn"
      (click)="openDialog(instructions)">
      <mat-icon>
        integration_instructions
      </mat-icon>
    </button>
    <div class="info-header">
      <div>
        <span class="node" style="background-color: red; padding-left: 1rem;"></span>
        <span class="node-info" style="margin-right: 1rem;">Starting Position</span>

        <span class="node" style="background-color: blueviolet; padding-left: 1.1rem;"></span>
        <span class="node-info">End Position</span>
      </div>
      <div>
        <span class="node" style="background-color: rgb(0, 0, 0); padding-left: 1rem;"></span>
        <span class="node-info" style="margin-right: 1rem;">Obstacle</span>

        <span class="node" style="background-color: rgb(39, 216, 216); padding-left: 1.1rem;"></span>
        <span class="node-info" style="margin-right: 1rem;">Visited</span>

        <span class="node" style="background-color: rgba(4, 28, 245, 0.74); padding-left: 1rem;"></span>
        <span class="node-info">Shortest Path</span>
      </div>
    </div>
    <h4 *ngIf="selectedAlgorithm === 'Dijkstras'">Dijkstras Path Finding Algorithm</h4>
    <h4 *ngIf="selectedAlgorithm === 'Astar'">A star Path Finding Algorithm</h4>
  </div>


  <main>

    <div>
      <div *ngFor="let row of nRows" class="blockRow" [ngClass]="{'path' :
          (shortestPath[row][col]===true)}" (contextmenu)="doNothing($event)">
        <div *ngFor="let col of nCols" class="blockCol" [ngClass]="{'path' :
          (shortestPath[row][col]===true)}" (contextmenu)="doNothing($event)">

          <div class="block" (contextmenu)="onRightClick($event, row, col)" [ngClass]="{'obstacle': nodes[row][col].isObstacle, 'start': (row === startRow && col === startCol), 'end':
        (row === endRow && col === endCol), 'visited': (nodes[row][col].isVisited === true && shortestPath[row][col]
        === false && !nodes[row][col].isStartNode && !nodes[row][col].isEndNode),
        'path': (shortestPath[row][col] ===  true)}">
          </div>

        </div>
      </div>
    </div>
  </main>
  <ng-template #instructions>
    <h4 mat-dialog-title>Instructions</h4>
    <mat-dialog-content class="mat-typography">
      <mat-icon>mouse</mat-icon>
      <span style="margin-left: 1rem;">Right Click on the Mouse to Place the Obstacles</span>
      <p></p>
      <p>
           Chnage the alogorithms from the top Drop Down
      </p>
      <p>
           Change the type of Algorithms from the top button Link
      </p>
      <p>
           Start the Algorithm by Pressing the "Start Algorithm" Button or by Placing Obstacle
      </p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </ng-template>
</body>

</html>
