:root {
  --pinkbackground: #c2185b;
  --darkbackground: rgba(255, 255, 255, .04);
}

.block {
  border: 1px solid rgb(42, 59, 56);
  width: 20px;
  height: 20px;
  padding: 0%;
  margin: 0%;
  /* margin-left: 10%; */
  background-color: rgb(168, 230, 230);
}

.blockCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
}

.blockRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.obstacle {
  background-color: black;
}


.start {
  background-color: red;
}

.end {
  background-color: blueviolet;
}

.path {
  background-color: rgba(4, 28, 245, 0.74);
}

.visited {
  background-color: rgb(39, 216, 216);
}

.toolbar-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-items: center; */
  justify-content: space-between;
}

.menuBtn {
  margin-left: 2rem;
}

.algoSelect {
  background-color: #c2185b;
  width: 7.5rem;
  border-radius: 5px;
  padding-left: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 25rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(90%);
  margin-top: 2rem;
}

.algo-header {
  background-color: #c2185b;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding-right: 2rem;
}


.info-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.info-header > div:nth-child(2) {
  margin-top: 1rem;
}


